* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container-pai {
    background-color: darkblue;
    width: 100%;
    height: 350px;
    display: grid;

    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.container-pai-linhas {
    height: 600px;
    display: grid;
    background-color: darkred;
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    margin-top: 50px;
}

#item1 {
    background-color: #ff3f3f;
    grid-column: 1/3;
}

#item2 {
    background-color: #ff3fff;
}

#item3 {
    background-color: #3f3f3f;
    grid-column: 4/6;
}