.btn-primario{
  background-color: greenyellow;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
}

.btn-secundario{
  background-color: #CF0000;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
}

.btn-desativado{
  background-color: #3f3f3f;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
}

.card{
  background-color: #0099ff;
  color: black;
  border: 5px solid #0066ff;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.card-titulo{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.card-conteudo{
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card img{
  width: 60px;
  height: 60px;
}